<!DOCTYPE html>
<html>
<head>
    <title>Louder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div id="particles-js" class="particle-background"></div>
    <div class="page-body">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href=<%= root_path %>><h3>Louder</h3></a>
            <ul class="nav navbar-nav">
                <% unless signed_in %>
                <li class="nav-item">
                    <a class="nav-link", href=<%= login_path %>>Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link", href=<%= new_user_path %>>Sign Up</a>
                </li>
                <% else %>
                <li class="nav-item">
                    <a class="nav-link" href=<%= user_path(current_user.id) %>><%= current_user.name %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link", href=<%= destroy_path %> data-method="delete">Sign Out</a>
                </li>
                <li class="nav-item pull-xs-right">
                    <a class="nav-link dropdown-toggle" id="action-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="action-dropdown">
                        <%= link_to "New Message", new_user_message_path(user_id: current_user.id), class: "dropdown-item" %>
                        <%= link_to "Sent Messages", user_messages_path(user_id: current_user.id), class: "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                        <%= link_to "Add Friends", friendships_path, class: "dropdown-item" %>
                    </div>
                </li>
                <% end %>
            </ul>
        </nav>
        <div class="main-content">
            <%= flash_messages %>   
            <%= yield %>
        </div>
    </div>
</body>
</html>

